#lawyerwp-options h2{margin-top:0}
#lawyerwp-options .description{font-size:13px;color:#00b4ff}
#lawyerwp-options em, #lawyerwp-options input, #lawyerwp-options textarea{font-family:arial,sans-serif}
#lawyerwp-options label em{font-size:12px}
#lawyerwp-options em{color:#444}
#lawyerwp-options input.large-text, #lawyerwp-options textarea.large-text{width:100%}
#lawyerwp-options input[type="text"]{width:100%;max-width:300px;margin-bottom:7px}

#lawyerwp-options ul.tabs{
margin: 0px;
padding: 0px;
border-bottom: 4px solid #00b4ff;
list-style: none;
}
#lawyerwp-options ul.tabs li{
background: none;
color: #222;
display: inline-block;
margin: 0px;
padding: 10px 15px;
cursor: pointer;
}
#lawyerwp-options ul.tabs li.current{
background: #ddd;
color: #222;
}
#lawyerwp-options .tab-content{
display: none;
background: #fff;
padding: 20px;
}
#lawyerwp-options .tab-content.current{
display: inherit;
}